.feed-container {
    width: 40%;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(177, 253, 228);
    margin-bottom: 10000px;
}

.feed-header {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}

.feed-refresh-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(16, 126, 89);
    color: #fff;
    font-size: 1.1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
    text-align: center;
}

.feed-refresh-button:hover {
    background-color: rgb(20, 153, 109);
}

.feed-items {
    list-style-type: none;
    padding: 0;
}

.feed-item {
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feed-item h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #333;
}

.feed-item .timestamp {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 10px;
}

.feed-item p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #555;
}

.feed-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

.icons-container {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.feed-banner {
    position: sticky;
    z-index: 1000;  
    top: 0;
    margin: 0 auto;
    display: block;
    height: 5rem;
    cursor: pointer;
    background-color: white;
    width: 100%;
}

.feed-logo {
    height: 5rem;
    display: block;
    margin: 0 auto;
}

@media(max-width: 500px) {
    .feed-container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}