.sign-up-container {
  max-width: 400px; 
  margin: 0 auto;
  padding: 30px; 
  border: 1px solid #ccc;
  border-radius: 25px; 
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  color: rgb(16, 126, 89);
}

.sign-up-header {
  text-align: center;
  font-size: 1.5rem; 
  margin-bottom: 15px; 
}

.sign-up-input-field {
  margin-bottom: 11.25px; 
  margin-right: 7.5px; 
}

.sign-up-input-field label {
  display: block;
  margin-bottom: 3.75px; 
  font-weight: bold;
}

.sign-up-input-field input {
  width: 100%;
  padding: 7.5px; 
  font-size: 0.75rem; 
  border: 1px solid #ccc;
  border-radius: 3px; 
}

.sign-up-submit-button {
  width: 100%;
  padding: 10px; 
  background-color: rgb(16, 126, 89); 
  color: #fff;
  font-size: 1.1rem; 
  border: none;
  border-radius: 3px; 
  cursor: pointer;
}

.sign-up-submit-button:hover {
  background-color: rgb(13, 138, 96);
}

.sign-up-submit-button:active {
  background-color: rgb(16, 126, 89);
}
